.container{
    display: grid;
    height: 200px;
    width: 200px;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: repeat(4, 50px); /*4 times 50px ka alag way*/
    border: 1px solid black;
    grid-template-areas: 
    "item1 item1 item1 item3"
    "item1 item1 item1 item3"
    "item1 item1 item1 item3"
    "item2 item2 item2 item3"
    ;
}

.item-1{
 grid-area: item1;
 /* grid-row-start:1 ;
 grid-row-end: 4;
 grid-column-start:1 ;
 grid-column-end:4 ; */
 background-color: aquamarine;
}
.item-2{
grid-area: item2;
 /* grid-row-start:4 ;
 grid-row-end: 5;
 grid-column-start:1 ;
 grid-column-end:5 ; */
 background-color: rgb(209, 138, 31);
}

.item-3{
grid-area: item3;
 /* grid-row-start:1 ;
 grid-row-end: 4;
 grid-column-start:4 ;
 grid-column-end:5 ; */
 background-color: rgb(24, 24, 132);
}