*{
    margin:0;
    padding: 0;
    
}
 body{
    background-color: rgb(232, 105, 105);
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    color: aliceblue;
    /* flex-direction: column; */
    /* margin-top: 20px; */
 }
 h1{
    background-color: black;
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
.container{
    
    display: flex;
    max-width: 100%;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 10px;
    background-color: rgb(194, 193, 193);
    color: black;
}

.item{
    
    display: flex;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.Image{
    max-width:100% ;
    margin-top: 20px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 10px;
    
}