body{
    border: 10px solid black;
    height: 60vh;
    width: 60vw;
    background-image: url("\OIP.webp");
    background-repeat: no-repeat;
    background-size: contain;
}

.ball{
    border: 1px solid black;
    background-color: brown;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative; /*parent pe position nahi hai to body se relative hogi*/
    top:25vh;
    left: 25vw;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.shadow{
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative; /*parent pe position nahi hai to body se relative hogi*/
    top:40vh;
    left: 45vw;
    animation-name: shadow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

@keyframes bounce {
    0%{
        top:25vh;
        left: 25vw;
    }
    50%{
        top:50vh;
        left: 25vw;
        height: 65px;
    }
    100%{
        top:25vh;
        left: 25vw;
    }
} 

@keyframes shadow {
    0%{
        top:45vh;
        left: 40vw;
        height: 20px;
    }
    50%{
        top:45vh;
        left:30vw;
        height: 10px;
        width: 10px;
    }
    100%{
        top:45vh;
        left: 40vw;
    }
}

