body{
    background-image: url('./Space.png');
    background-repeat: repeat-x;
    background-size: cover;
    background-color: black;
    margin: 0;
    min-height: 100vh;
    background-size: auto 100%;
    
    animation: bg 4s forwards;
}

#rocket{
    rotate: 45deg;
    position: relative;
    top: 55vh;
    left: 30vw;
    width: 160px;
    height: 145px;
    animation: rocketY 2s forwards infinite;
}

#cody{
    position: absolute;
    width: 65px;
    height: 75px;
    top: 70vh;
    rotate: -10deg;
    left: -150px; 

    animation: floatIn 10s forwards ;
}

@keyframes floatIn {
    0% {
        opacity: 0;
    }
    40% {
        transform: translateX(0) rotate(-20deg);
        opacity: 1;
    }

    60% {
        transform: translateX(400px) rotate(10deg);
    }
    80%{
        transform: translateX(500px);
        width: 105px;
        height: 115px;
    }
    90% {
        transform: translateX(750px) rotate(10deg);
        z-index: -1;
        width: 0;
        height: 0;
        top: 75vh;
        opacity: 1;
    }
    100%{
        
        opacity: 0;
    }
}


@keyframes rocketY{
    0%{
        top: 55vh;
    }
    50%{
        top: 50vh;
    }
    100%{
        top: 55vh;
    }
}

@keyframes bg{
    from {
        background-position: 0 0;
    }
    to {
        background-position: -700px 0;
    }
}

*{
    margin: 0;
    padding: 0;
}